 body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
.logo {
	height: 100px;
	width:150px;
	position:absolute;
	left: 60px;
	top: 0px;
	float:left;
	z-index:99;
}
.logo img {
	border-style:none
}

footer {
    color: #ccc;
    background: #292C37;
    padding: 10px 0 0 0;
    border-top: 1px solid #000;
}
    footer a {
        color: #999;
    }
    footer a:hover {
        color: #efefef;
    }
