<h2>Monitoreo de variables</h2>
<div id="monitorTabs" style="margin-top: 10px">
    <ul>
        <li><a href="#temperature">Temperatura</a></li>
        <li><a href="#level">Niveles</a></li>
        <li><a href="#pressure">Presión</a></li>
    </ul>
    <div id="temperature">
        @Html.Partial("TemperatureView")
    </div>
    <div id="level">
        @Html.Partial("LevelView")
    </div>
    <div id="pressure">
        @Html.Partial("PressureView")
    </div>
</div>
