<style>
    #g1 {
        width:400px; height:320px;
        display: inline-block;
        margin: 1em;
    }
      
    #g2, #g3, #g4 {
        width:100px; height:80px;
        display: inline-block;
        margin: 1em;
    }
      
    p {
        display: block;
        width: 450px;
        margin: 2em auto;
        text-align: left;
    }
</style>

<div class="row">
    <div class="wijmo-wijev-header-title float-left">
        <h3>Temperatura</h3>
    </div>
    <div class="float-right">
        Tipo de monitoreo:
   <select id="cmbTemperature">
            <option value="0">Tiempo Real</option>
            <option value="1">Histórico</option>
        </select>    
    </div>  
</div>

<div id="g1"></div>
<div id="g2"></div>
<div id="g3"></div>
<div id="g4"></div>


 <script>
      var g1, g2, g3, g4;
      
      window.onload = function(){
        var g1 = new JustGage({
          id: "g1", 
          value: getRandomInt(0, 100), 
          min: 0,
          max: 100,
          title: "Big Fella",
          label: "pounds"
        });
        
        var g2 = new JustGage({
          id: "g2", 
          value: getRandomInt(0, 100), 
          min: 0,
          max: 100,
          title: "Small Buddy",
          label: "oz"
        });
        
        var g3 = new JustGage({
          id: "g3", 
          value: getRandomInt(0, 100), 
          min: 0,
          max: 100,
          title: "Tiny Lad",
          label: "oz"
        });
        
        var g4 = new JustGage({
          id: "g4", 
          value: getRandomInt(0, 100), 
          min: 0,
          max: 100,
          title: "Little Pal",
          label: "oz"
        });
      
        setInterval(function() {
          g1.refresh(getRandomInt(50, 100));
          g2.refresh(getRandomInt(50, 100));          
          g3.refresh(getRandomInt(0, 50));
          g4.refresh(getRandomInt(0, 50));
        }, 2500);
      };
    </script>
