<div id="modalContainer"></div>
<div class="row-fluid">
    <div class="span12">
        <h3 class="pull-right">Sensores disponibles para procesos</h3>
    </div>
</div>
<div id="sensorTypes">
    <ul>
        <li><a href="#temperatureSensors">Temperatura</a></li>
        <li><a href="#pressureSensors">Presión</a></li>
        <li><a href="#humitySensors">Humedad</a></li>
        <li><a href="#movementSensors">Movimiento</a></li>
        <li><a href="#positionSensors">Posición</a></li>
        <li><a href="#flowSensors">Corriente</a></li> 
    </ul>

    <div id="temperatureSensors">
        <div class="row-fluid">
            <div class="span2 offset10">
                <p style="font-size: 11.9px; font-weight: bold;">Ocultar deshabilitados<input style="margin-top: -2px; margin-left: 5px;" type="checkbox" data-bind="checked:showOnlyEnables"/></p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <table id="gvBoards" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Descripción</th>
                            <th>Unidad de Medida</th>
                            <th>Equivalencia</th>
                            <th style="text-align: center">Estatus</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:boardFilteredList">
                        <tr data-bind="{css:{warning:Enable()==false}, attr:{id:DeviceId()}}">
                            <td data-bind="text: Name"></td>
                            <td data-bind="text: Description"></td>
                            <td data-bind="text: Url"></td>
                            <td style="text-align: center">
                                <a href="javascript:void(0);" data-bind="click:$parent.toggleEnable"><i data-bind="css: {'icon-check':Enable(), 'icon-minus':Enable()==false}"></i></a>
                            </td>
                            <td style="text-align: center">
                                <a href="javascript:void(0);" data-bind="click:$parent.editBoard"><i data-bind="css: {'icon-edit':Enable()}"></i></a>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr style="display: none" data-bind="attr:{id:'edit' + DeviceId()}">
                            <td><input type="text" data-bind="value:Name"/></td>
                            <td><input type="text" data-bind="value:Description"/></td>
                            <td><input type="text" data-bind="value:Url"/></td>
                            <td>
                                <a href="javascript:void(0);" data-bind="click:$parent.saveChanges"><i class="icon-hdd"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div style="text-align: right" class="span12">
                <p><i class="icon-check"></i>Habilitado  <i  class="icon-minus"></i>Deshabilitado  <i class="icon-edit"></i>Editar </p>
            </div>
        </div>
    </div>

    <div id="pressureSensors" style="min-height: 400px;">
        <div class="row-fluid">
            <div class="span4">
                <label><strong>Nombre del dispositivo</strong></label>
                <input id="txtname" style="width: 100%" type="text" placeholder="Asignar un nombre..." data-bind=" value : boardName"/>
                <label><strong>Descripción</strong></label>
                <textarea id="txtarea" style="width: 100%" rows="3" data-bind="value:boardDescription"></textarea>
                <label><strong>Tipo de dispositivo</strong></label>
                <select id="boardDropDown" style="width: auto;" data-bind="options:boardTypes, optionsText: 'Name', value:selectedBoardType, optionsCaption:'Selecciona el tipo de dispositivo...'"></select>
                <label style="margin-top: 15px;"><strong>Dirección IP ó Url asignada</strong></label>
                <input id="txtip" style="width: 100%" type="text" placeholder="Dirección IP" data-bind="value:deviceUrl"/>
                <a href="javascript:void(0);" class="btn btn-info " style="color: white; margin-top: 25px;">Probar</a>
                <a data-bind="click:saveBoard" class="btn btn-primary" style="color: white; margin-left: 30px; margin-top: 25px;">Guardar</a>
                <a href="#" class="btn btn-danger" style="color: white; margin-left: 30px; margin-top: 25px;">Cancelar</a>
            </div>

            <div class="span4 offset1">
                <label><strong>Caracteristicas GPIO</strong></label>
                <table id="gvPorts" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pins</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:selectedBoardType() ? selectedBoardType().PinFeatures() : new Array()">
                        <tr>
                            <td style="text-align: center;" data-bind="text: Pins"></td>
                            <td data-bind="text: PinDescription"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 offset8" style="margin-top: 40px;">
            </div>
        </div>
    </div>
   
    <div id="humitySensors">
        <h3>Configuración de puertos y sensores</h3>
        
    </div>
    <div id="movementSensors">
        <h3>Configuración de puertos y sensores</h3>
        
    </div>
    <div id="positionSensors">
        <h3>Configuración de puertos y sensores</h3>
        
    </div>
     <div id="flowSensors">
        <h3>Configuración de puertos y sensores</h3>
        
    </div>
</div>

<script type="text/javascript">
    SensorSettings.initialize();
</script>
