<div class="row-fluid">
    <div class="span12">
        <h3 class="pull-right">Configuración de Tarjetas de Adquisición de Datos</h3>
    </div>
</div>
<div id="boardSplitter">
    <div style="min-height: 500px; min-width: 200px;">Panel1</div>
    <div>Panel2</div>
</div>

<script type="text/javascript">
    BoardSettings.initialize();
</script>