<div class="row-fluid">
    <div class="span12">
        <h3 class="pull-right">Inicializar Configuraciones</h3>
    </div>
</div>
<div class="row-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Configuración</th>
                <th>Descripción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tarjetas de Adquisición</td>
                <td>Inicializa los valores por default para tarjetas de adquisición de datos</td>
                <td><a class="btn btn-inverse" href="javascript:void(0);" onclick="BoardSettings.initializeConfigurations();">Inicializar</a></td>
            </tr>
        </tbody>
    </table>
</div>