@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Panel de Control </h1>
                <h4 class="float-right">Administración de procesos para monitoreo y control</h4>
            </hgroup>
        </div>
    </section>
}

<h3>Creación / Edición de Procesos</h3>
<div id="splitter" style="height: 100%; width: 100%; min-height: 500px; margin-bottom: 10px;">
    <div id="leftMenu">
        <h3></h3>
        <div id="processTree"></div>
    </div>
    <div>Right Panel</div>
</div>


